* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;  
}

body{
    background: black;
    color: white;
}

.text{
    font-size: 4rem;
    text-align: center;
    line-height: 100vh;
    text-transform: uppercase;
}

span{
    opacity: 0;
    transform: translateY(50px);
    transition: all .5s ease-in-out;
    display: inline-block;
}

.fadein{
    opacity: 1;
    transform: translateY(0px);
    color: aqua;
}