*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 50vw;
    height: 50vh;
    position: absolute;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    opacity: 0;
}

.text{
    font-size: 1.2rem;
    text-align: center;
    padding: 0 50px;
}